// -*- mode: scss; indent-tabs-mode: nil; css-indent-offset: 2 -*-

// Written in 2017 by Mohammed Sadiq <www.sadiqpk.org>

// To the extent possible under law, the author(s) have dedicated all
// copyright and related and neighboring rights to this software to
// the public domain worldwide. This software is distributed without
// any warranty.

// You should have received a copy of the CC0 Public Domain Dedication
// along with this software. If not, see
// <http://creativecommons.org/publicdomain/zero/1.0/>.


body {
  font-size: 1.4em;
}

@mixin body-sm() {
  body {
    font-size: 1.1em;
  }
}

@mixin body-md() {
  body {
    font-size: 1.4em;
  }
}
