// -*- mode: scss; indent-tabs-mode: nil; css-indent-offset: 2 -*-

// Written in 2018 by Mohammed Sadiq <sadiq@sadiqpk.org>

// To the extent possible under law, the author(s) have dedicated all
// copyright and related and neighboring rights to this software to
// the public domain worldwide. This software is distributed without
// any warranty.

// You should have received a copy of the CC0 Public Domain Dedication
// along with this software. If not, see
// <http://creativecommons.org/publicdomain/zero/1.0/>.


ul.org-ul ul {
  padding-left: 25px;
}

@mixin ul-sm(){
  ul.org-ul {
    padding-left: 18px;
    ul {
      padding-left: 20px;
    }
  }
}

