// -*- mode: scss; indent-tabs-mode: nil; css-indent-offset: 2 -*-

// Written in 2017 by Mohammed Sadiq <www.sadiqpk.org>

// To the extent possible under law, the author(s) have dedicated all
// copyright and related and neighboring rights to this software to
// the public domain worldwide. This software is distributed without
// any warranty.

// You should have received a copy of the CC0 Public Domain Dedication
// along with this software. If not, see
// <http://creativecommons.org/publicdomain/zero/1.0/>.


// XXX: The order of media queries is important.  Look
// abstracts/_variables to see how they are defined.

// Medium screen devices
$breakpoint: map-get($breakpoints, 'medium');
$query: unquote($breakpoint);

@media #{$query} {
  @include body-md();
  @include content-md();
}

// Small screen devices
$breakpoint: map-get($breakpoints, 'small');
$query: unquote($breakpoint);

@media #{$query} {
  @include body-sm();
  @include h1-sm();
  @include ul-sm();
  @include content-sm();
  @include nav-main-sm();
  @include nav-menu-sm();
  @include nav-links-sm();
}

$breakpoint: map-get($breakpoints, 'very-small');
$query: unquote($breakpoint);

@media #{$query} {
}

