<div class="nav">
  <input type="checkbox" id="show-menu" role="button">
  <label for="show-menu" class="show-menu f-right">Menu</label>
  <div id="menu">
    <ul class="f-left"><li>
        <a href="index.html" class="home active">Home</a></li><li>
        <a href="blog/index.html" class="blog">Blog</a></li><li>
        <a href="diary/index.html" class="diary">Diary</a></li><li>
        <a href="projects/index.html" class="code">Projects</a>
    </li></ul>
    <ul class="f-right"><li>
        <a href="https://gitlab.com/sadiq" class="gitlab">GitLab</a></li><li>
        <a href="https://github.com/pksadiq" class="github">GitHub</a></li><li>
        <a href="https://liberapay.com/sadiq/donate" class="donate">Donate</a>
    </li></ul>
  </div>
</div>
